:root {
    --background-color: purple;
    --text-color: black;
 }
 .dahlia{
    --background-color: crimson;
    --text-color: black;
 }
 .daddy{
    --background-color: black;
    --text-color: white;
 }
/* SEMANTIC STYLES */
 body{
    background-color: var(--background-color);
    font-family: 'Times New Roman', Times, serif;
    padding-top: 2.5rem;
    color: var(--text-color)
 }
 h1{
    color: var(--text-color);
 }
/* STRUCTURAL STYLES */
 #dahlia{
    height: 100%;
    object-fit: cover;
    object-position: 0%;
 }
 #daddy{
   aspect-ratio: 1 / 1;
   width: 100%;
   content: "";
   background-image: url("images/daddy.jpeg");
   background-size: contain;
}
 #buttons{
    display: block;
    position: absolute;
    width: 400px;
    top: 650px;
    left: 100px;
 }  
 .editPoint__left {
    position: relative;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 300px;
    background: white;
    border: 2px solid blue;
    border-radius: 999px;
    cursor: pointer;
    z-index: 12;
 }   
 .editPoint__left::after {
    position: absolute;
    content: "";
    display: none;
    width: 35px;
    height: 200px;
    background-color: white;
    transform: 50%;
    z-index: -1;
 }

 .editPoint__left::before {
    position: absolute;
    content: "";
    display: none;
    width: 35px;
    height: 200px;
    background-color: white;
 }
/* UTILITY STYLES */
 .hidden {
   display: none;
 }
 .show {
   display: block;
 }
 .white {
    color: white;
 }